:root {
    --def-margin: 1rem;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  html, body {
    height: 100%;
    margin: 0;
  }
  #root {
    margin: calc(2*var(--def-margin)) auto;
    padding: 0 var(--def-margin);
    max-width: 1200px;
  }
  #topics {
    display: flex;
    flex-wrap: wrap;
    gap: var(--def-margin);
    justify-content: center;
    margin-bottom: var(--def-margin);
  }