:root {
    --def-margin: 1rem;
    --background-color: #d1e1de;
    --text-color: #000;
    --stroke-color: #c90fd1;
    --t-time: 0.2s;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all var(--t-time) ease;
}

#root {
    margin: calc(2*var(--def-margin)) auto;
    padding: 0 var(--def-margin);
    max-width: 1200px;
}

#topics {
    display: flex;
    flex-wrap: wrap;
    gap: var(--def-margin);
    justify-content: center;
    margin-bottom: var(--def-margin);
}

.customRadio {
    display: flex;
    gap: var(--def-margin);
    cursor: pointer;
}
.radioSVG {
    width: 2rem;
}
.radioContainer {
    fill: var(--text-color);
}
.radioMarker {
    stroke: var(--stroke-color);
    fill: none;
    stroke-width: 80;
    opacity: 0;
    transition: opacity calc(2*var(--t-time)) ease-in-out;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + .customRadio .radioMarker{
    border: thin solid red;
    opacity: 1;
}